

.header{
    text-align: right;
    padding: 0px;
    display: inline-flex;
    width: 100%;
    background-color: #f8f9fa;

    
}
.header h1{
    text-align: left;
    margin-right: 800px;
}
button h2{
    font-size: 20px;
    padding-left: 121px;
    padding-right: 121px;
}
.shop{
   

}
.photo{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin: 50px 0px;
}

.photo button{
    background-color: white;
}
#pros{
    padding-left: 100px;
}
.end{
    text-align: left;
    color: rgb(0, 0, 0);
    background-color: rgb(243, 236, 236);
    position: fixed;
    bottom: 0;
    width: 100%;
    margin:0;
    /* margin-left:-79px; */
    opacity: .3;
}